@using Microsoft.AspNetCore.Components.Authorization

<nav class="navbar navbar-expand-md navbar-modern border-bottom sticky-top" aria-label="Primary navigation">
    <div class="container">
        <BrandMark />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
                aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/faq">FAQ</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item"><a class="nav-link" href="/trips">Trips</a></li>
                        <li class="nav-item"><a class="nav-link" href="/trips/new">New trip</a></li>
                    </Authorized>
                </AuthorizeView>
            </ul>
            <ul class="navbar-nav align-items-md-center gap-2">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item"><ThemeSelector /></li>
                        <li class="nav-item d-flex align-items-center text-secondary small">
                            <span class="visually-hidden">Signed in as </span>@context.User.Identity?.Name
                        </li>
                        <li class="nav-item"><a class="nav-link" href="MicrosoftIdentity/Account/SignOut">Sign out</a></li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item"><a class="btn btn-primary" href="MicrosoftIdentity/Account/SignIn">Sign in</a></li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>
